* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	width: 100%;
	height: 100vh;
}

a {
	color: var(--fg);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bookmarks {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1em;
}

.bookmarks > ul {
	border: 2px solid var(--fg);
	padding: 1em;
	background-color: var(--bg);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
	transition: .1s;
}

.bookmarks > ul > li {
	margin-left: 1em;
}

.bookmarks__entertainment > .title {
	color: var(--red);
}

.bookmarks__development > .title {
	color: var(--blue);
}

.bookmarks__mine > .title {
	color: var(--yellow);
}

.bookmarks__utility > .title {
	color: var(--green);
}

.bookmarks__study > .title {
	color: var(--magenta);
}

.bookmarks__univ > .title {
	color: var(--cyan);
}

.statusline {
	position: fixed;
	bottom: .5em;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.statusline > * {
	margin: 0 .5em;
}

.message {
	border: 2px solid var(--fg);
	padding: 1em;
	background-color: var(--bg);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
	transition: .1s;
}
